<!doctype html>
<html lang="en">
<head>
    {% load staticfiles %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A layout example that shows off a responsive product landing page.">
    <title>Kunal Agarwal</title>
    
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-" crossorigin="anonymous">
    
    <!--[if lte IE 8]>
        <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-old-ie-min.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
        <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-min.css">
    <!--<![endif]-->
    
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    
        <!--[if lte IE 8]>
            <link rel="stylesheet" href="css/layouts/marketing-old-ie.css">
        <![endif]-->
        <!--[if gt IE 8]><!-->
            <link rel="stylesheet" href="{% static 'css/layouts/marketing.css' %}">
        <!--<![endif]-->

<style>
    .splash-containersc {
        background: #1f8dd6;
        z-index: 1;
        overflow: auto;
        /* The following styles are required for the "scroll-over" effect */
        width: 100%;
        height: 88%;
        top: 0;
        left: 0;
        position: fixed !important;
}

</style>  



</head>
<body>









<div class="header">
    <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
        <a class="pure-menu-heading" href="{% url 'home' %}">Kunal</a>

        <ul class="pure-menu-list">
            
            <li class="pure-menu-item"><a href="{% url 'ds100' %}" class="pure-menu-link">Data 100</a></li>
        </ul>
    </div>
</div>

  <div class="splash-containersc">
    <div class="splash">
     
    <h1 class="splash-head">Welcome to Data 100</h1>
    <h2 class="splash-subhead"> Lab #1: Tuesday | 1pm-2pm | Cory 105 </h2>
    <h2 class="splash-subhead"> Lab #2: Tuesday | 2pm-3pm | Cory 105 </h2>
    <h2 class="splash-subhead"> Discussion #1: Friday | 3pm-4pm | Dwinelle 209</h2>
    <h2 class="splash-subhead"> Discussion #2: Friday | 4pm-5pm | Dwinelle 205 </h2>
    <h2 class="splash-subhead"> Office Hours #1: Monday | 12pm-1pm | Soda 341A</h2>
    <h2 class="splash-subhead"> Office Hours #2: Tuesday | 12pm-1pm | Soda 341A</h2>
    <p>
            <a href="http://www.ds100.org/sp20/" class="pure-button pure-button-primary">Class Website</a>
            <a href="https://drive.google.com/drive/folders/1rN5fs6dm-23spsCnSB_6glBQZCDKQLmP?usp=sharing" class="pure-button pure-button-primary">Slides</a>

        </p>

    </div>
</div>


    <div class="footer l-box is-center">
        © Kunal Agarwal {% now "Y" %}
    </div>






</body>
</html>




















