<!doctype html>
<html lang="en">
<head>
    {% load staticfiles %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A layout example that shows off a responsive product landing page.">
    <title>Kunal Agarwal</title>
    
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-" crossorigin="anonymous">
    
    <!--[if lte IE 8]>
        <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-old-ie-min.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
        <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-min.css">
    <!--<![endif]-->
    
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    
        <!--[if lte IE 8]>
            <link rel="stylesheet" href="css/layouts/marketing-old-ie.css">
        <![endif]-->
        <!--[if gt IE 8]><!-->
            <link rel="stylesheet" href="{% static 'css/layouts/marketing.css' %}">
        <!--<![endif]-->
</head>
<body>









<div class="header">
    <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
        <a class="pure-menu-heading" href="{% url 'home' %}">Kunal</a>

        <ul class="pure-menu-list">
            
            <li class="pure-menu-item"><a href="{% url 'ds100' %}" class="pure-menu-link">Data 100</a></li>
        </ul>
    </div>
</div>
	
	
  
    <div class="splash">
    	<p>
            <a href="{% static 'Worksheet_1.pdf' %}" class="pure-button pure-button-secondary">Worksheet 1</a>
            <a href="{% static 'Worksheet_1_Solutions.pdf' %}" class="pure-button pure-button-secondary">Worksheet 1 Solutions</a>

        </p>

        <p>
            <a href="{% static 'Worksheet_2.pdf' %}" class="pure-button pure-button-secondary">Worksheet 2</a>
            <a href="{% static 'Worksheet_2_Solutions.pdf' %}" class="pure-button pure-button-secondary">Worksheet 2 Solutions</a>

        </p>

        <p>
            <a href="{% static 'Worksheet_3.pdf' %}" class="pure-button pure-button-secondary">Worksheet 3</a>
            <a href="{% static 'Worksheet_3_Solutions.pdf' %}" class="pure-button pure-button-secondary">Worksheet 3 Solutions</a>

        </p>

        <p>
            <a href="{% static 'Worksheet_4.pdf' %}" class="pure-button pure-button-secondary">Worksheet 4</a>
            <a href="{% static 'Worksheet_4_Solutions.pdf' %}" class="pure-button pure-button-secondary">Worksheet 4 Solutions</a>

        </p>

        <p>
            <a href="{% static 'Worksheet_5.pdf' %}" class="pure-button pure-button-secondary">Worksheet 5</a>
            <a href="{% static 'Worksheet_5_Solutions.pdf' %}" class="pure-button pure-button-secondary">Worksheet 5 Solutions</a>

        </p>
        <p>
            <a href="{% static 'Worksheet_6.pdf' %}" class="pure-button pure-button-secondary">Worksheet 6</a>
            <a href="{% static 'Worksheet_6_Solutions.pdf' %}" class="pure-button pure-button-secondary">Worksheet 6 Solutions</a>

        </p>
        <p>
            <a href="{% static 'Worksheet_7.pdf' %}" class="pure-button pure-button-secondary">Worksheet 7</a>
            <a href="{% static 'Worksheet_7_Solutions.pdf' %}" class="pure-button pure-button-secondary">Worksheet 7 Solutions</a>

        </p>
        <p>
            <a href="{% static 'Worksheet_8.pdf' %}" class="pure-button pure-button-secondary">Worksheet 8</a>
            <a href="{% static 'Worksheet_8_Solutions.pdf' %}" class="pure-button pure-button-secondary">Worksheet 8 Solutions</a>

        </p>
        
    </div>




    <div class="footer l-box is-center">
        © Kunal Agarwal {% now "Y" %}
    </div>






</body>
</html>




















