<!doctype html>
<html lang="en">
<head>
    {% load staticfiles %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A layout example that shows off a responsive product landing page.">
    <title>Kunal Agarwal</title>
    
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-" crossorigin="anonymous">
    
    <!--[if lte IE 8]>
        <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-old-ie-min.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
        <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-min.css">
    <!--<![endif]-->
    
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    
        <!--[if lte IE 8]>
            <link rel="stylesheet" href="css/layouts/marketing-old-ie.css">
        <![endif]-->
        <!--[if gt IE 8]><!-->
            <link rel="stylesheet" href="{% static 'css/layouts/marketing.css' %}">
        <!--<![endif]-->
</head>
<body>









<div class="header">
    <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
        <a class="pure-menu-heading" href="">Kunal</a>

        <ul class="pure-menu-list">
            
            <li class="pure-menu-item"><a href="{% url '61a' %}" class="pure-menu-link">CS 61A</a></li>
        </ul>
    </div>
</div>

  <div class="splash-container">
    <div class="splash">
        
        
        <p>
            <form action="{% url '61a' %}">
           <div class="form-group">
    <h1 class="splash-head">Pick A Topic</h1>
    <select class="form-control" name="topic">
        <option value="variablesAndFunctions">Variables and Functions</option>
        <option value="controls">Controls</option>
        <option value="wwpd">What Would Python Display</option>
        <option value="environmentDiagrams">Environment Diagrams</option>
        <option value="higherOrderFunctions">Higher Order Functions</option>
        <option value="lambdaExpressions">Lambda Expressions</option>
        <option value="recursion">Recursion</option>
        <option value="treeRecursion">Tree Recursion</option>
        <option value="dataAbstraction">Data Abstraction</option>
        <option value="ordersOfGrowth">Orders of Growth</option>
        <option value="pythonLists">Python Lists</option>
        <option value="linkedLists">Linked Lists</option>
        <option value="mutableTrees">Mutable Trees</option>
        <option value="nonloc">Nonlocal</option>
        <option value="oop">Object Oriented Programming</option>
        <option value="scheme">Scheme</option>
        <option value="schemeLists">Scheme Lists</option>
        <option value="tailRecursion">Tail Recursion</option>
      <option value="interpreters">Interpreters</option>
        <option value="macros">Macros</option>
        <option value="iteratorsAndGenerators">Iterators and Generators</option>
        <option value="streams">Streams</option>
        <option value="sequel">SQL</option>
        <option value="midterm1">Midterm 1</option>
        <option value="midterm2">Midterm 2</option>
        <option value="final">Final</option>
    </select>
    <input type="submit" value="Go"> </input>
  </div>
</form>
            

        </p>
    </div>
</div>


    <div class="footer l-box is-center">
        © Kunal Agarwal {% now "Y" %}
    </div>






</body>
</html>




















