<!doctype html>
<html lang="en">
<head>
    {% load staticfiles %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A layout example that shows off a responsive product landing page.">
    <title>Kunal Agarwal</title>
    
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-" crossorigin="anonymous">
    
    <!--[if lte IE 8]>
        <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-old-ie-min.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
        <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-min.css">
    <!--<![endif]-->
    
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    
        <!--[if lte IE 8]>
            <link rel="stylesheet" href="css/layouts/marketing-old-ie.css">
        <![endif]-->
        <!--[if gt IE 8]><!-->
            <link rel="stylesheet" href="{% static 'css/layouts/marketing.css' %}">
        <!--<![endif]-->
<style>

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  text-align: center;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
</style>

</head>
<body>

<div class="header">
    <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
        <a class="pure-menu-heading" href="">Kunal</a>

        <ul class="pure-menu-list">
            
            <li class="pure-menu-item"><a href="{% url 'pick_topics' %}" class="pure-menu-link">CS 61A</a></li>
        </ul>
    </div>
</div>

<div class="splash-container">
    <div class="splash">
        <h1 class="splash-head">Kunal Agarwal</h1>
        
        <p>
            <a href="https://www.linkedin.com/in/kagarwal2/" class="pure-button pure-button-primary">Linkedin</a>
            <a href="{% static 'Kunal-Agarwal.pdf' %}" class="pure-button pure-button-primary">Resume</a>
            

        </p>
        <p>
            <a href="{% url 'pick_topics' %}" class="pure-button pure-button-primary">CS 61A</a>
        </p>
    </div>
</div>

<div class="content-wrapper">

    <div class="content">
        <h2 class="content-head is-center">Projects</h2>

        <div class="pure-g">
            <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">

                <h3 class="content-subhead">
                    Amazons: Artificial Intelligence (Java)
                </h3>
                <p>
                    Artificial Intelligence for a game similar to checkers. The AI placed in the top five of a tournament in a class of almost 1000 students.

                </p>
                <button class="button" data-modal= "modal1">Learn More</button>

                <!-- The Modal -->
                <div id="modal1" class="modal">

                    <!-- Modal content -->
                    <div class="modal-content">
                        <span class="close">&times;</span>
                        <h3 class="content-subhead">
                            Amazons: Artificial Intelligence (Java)
                        </h3>

                        <img width="400" alt="File Icons" class="pure-img-responsive" src="{% static 'amazons.gif' %}">
                        <p style="color:black;">The game is called Amazons in which players move their queen and throw spears to trap their opponent. </p>
                        <p style="color:black;">I built the main functionality of movement in the game, the AI that the user could play against, as well as the GUI. </p>
                        <p style="color:black;">The AI utilized a minimax algorithm that was made more efficient with the use of alpha-beta pruning as well as iterative deepening. My AI placed in the top five of my data structures class of almost a thousand people. My AI can be seen playing itself above.</p>
                    </div>

                </div>
                




            </div>
            <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                <h3 class="content-subhead">
                    Graph API and Trip-finder (Java)
                </h3>
                <p>
                    Created an API for a graph package which includes a general traversal algorithm and a shortest path algorithm. The algorithms were used to create a trip finder similar to Google Maps.

                </p>
                <button class="button" data-modal="modal2">Learn More</button>

                <!-- The Modal -->
                <div id="modal2" class="modal">

                    <!-- Modal content -->
                    <div class="modal-content">
                        <span class="close">&times;</span>
                        <h3 class="content-subhead">
                            Graph API and Trip-finder (Java)
                        </h3>

                        <img width="400" alt="File Icons" class="pure-img-responsive" src="{% static 'shortest_path.png' %}">
                        <p style="color:black;">Created a graph package using Java that allowed users to create a graph data structure for their own use.</p>
                        <p style="color:black;">Included in the API was a general traversal algorithm as well as breadth-first and depth-first traversal algorithms.</p>
                        <p style="color:black;">Also included in the API is an algorithm that determines the shortest path between two nodes in the graph. The algorithm uses A* and Dijkstra's to find the shortest path.</p>
                        <p style="color:black;">In addition to the graph API, I created a trip-finder that uses the shortest path feature of the API to find the best set of directions between two locations.</p>
                        <p style="color:black;">The example above shows the shortest path from Berkeley to Santa Cruz, with a waypoint in San Francisco.</p>

                    </div>

                </div>
            </div>
            <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                <h3 class="content-subhead">
                    Personal Website and Teaching Materials (Django)
                </h3>
                <p>
                    A web application that helps students access worksheets based on the topic they need assistance in. Also included are worksheets I designed to help teach students introductory computer science concepts.
                </p>
                <button class="button" data-modal="modal3">Learn More</button>

                <!-- The Modal -->
                <div id="modal3" class="modal">

                    <!-- Modal content -->
                    <div class="modal-content">
                        <span class="close">&times;</span>
                        <h3 class="content-subhead">
                            Personal Website and Teaching Materials (Django)
                        </h3>
                        <p style="color:black;">Created a web application that allows for the searching of worksheets based on the topic desired.</p>
                        <p style="color:black;">The web application was created using Django, allowing for quick addition and look-up to the SQL database storing all the worksheets.</p>
                        <p style="color:black;">I also created and designed a number of worksheets for CS 61A, an introductory computer programming class here at UC Berkeley. This has allowed me to achieve an expert level understanding of the nuances of python.</p>
                    </div>

                </div>


            </div>
            <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                <h3 class="content-subhead">
                    Scheme Interpreter (Python)
                </h3>
                <p>
                    An interpreter, written in Python, for Scheme, a dialect of Lisp. Can handle tail contexts and macros. 
                </p>
                <button class="button" data-modal="modal4">Learn More</button>

                <!-- The Modal -->
                <div id="modal4" class="modal">

                    <!-- Modal content -->
                    <div class="modal-content">
                        <span class="close">&times;</span>
                        <p style="color:black;">I used mutual recursion to evaluate scheme expressions, and then apply the given expression. I was able to do this using Python. </p>

                        <p style="color:black;">In addition, I ensured no extra frames were created if the expression was in a tail context, allowing for tail recursion. </p>
                    </div>

                </div>

            </div>
            
            
        </div>
    </div>

    <div class="ribbon l-box-lrg pure-g">

        <div class="l-box-lrg is-center pure-u-1 pure-u-md-1-2 pure-u-lg-2-5">
            <img width="400" alt="File Icons" class="pure-img-responsive" src="{% static 'small pic of me.jpg' %}">
        </div>
        <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-3-5">

            <h2 class="content-head content-head-ribbon">About Me</h2>

            <p>
                Hi! I'm Kunal Agarwal, a computer science student from the Bay Area looking for an internship opportunity for this summer. I am a student at UC Berkeley double majoring in Computer Science and Applied Mathematics. 
            </p>
            <!--<p>
                I am also enthusiastic about teaching computer science! After taking CS 61A, I helped give back to the course by academic interning and 1 on 1 tutoring. I found the ability to assist other students the most fulfilling way to make use of my expertise in the material, and tutoring and assisting in labs allowed me to understand the material from a new multiplicity of perspectives when I considered how I could best convey concepts to each individual student. 
            </p>-->
        </div>
    </div>

    <div class="content">
        <h2 class="content-head is-center">Email Me!</h2>

        <h2 class="content-head is-center">kagarwal2 [at] berkeley [dot] edu</h2>

        <br/>
    </div>

    <div class="footer l-box is-center">
        © Kunal Agarwal {% now "Y" %}
    </div>

</div>


<script>


var modalBtns = [...document.querySelectorAll(".button")];
modalBtns.forEach(function(btn){
  btn.onclick = function() {
    var modal = btn.getAttribute('data-modal');
    document.getElementById(modal).style.display = "block";
  }
});

var closeBtns = [...document.querySelectorAll(".close")];
closeBtns.forEach(function(btn){
  btn.onclick = function() {
    var modal = btn.closest('.modal');
    modal.style.display = "none";
  }
});

window.onclick = function(event) {
  if (event.target.className === "modal") {
    event.target.style.display = "none";
  }
}



</script>


</body>
</html>
